<b>Мой профиль<b><br>

<b>Имя</b><br>
<%= current_user.name %><br>

<b>Фамилия</b><br>
<%= current_user.surname %><br>

<b>Почта</b><br>
<%= current_user.email %><br>

<label>My Avatar</label>

    



