<section class="hero is-fullheight">

<div class="hero-body">
  <div class="container">
      <div class="columns is-right">
        <div class="column">

    <%= render 'form' %>

    </div>
  </div>
</div>

</section>

